<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.gmaking.community.dao.PostCharacterImageDAO">

    <select id="selectUserCharacterImage"
            parameterType="String"
            resultType="com.project.gmaking.community.vo.PostCharacterImageVO">

        SELECT
        T1.user_nickname AS userNickname,
        T3.image_url AS characterImageUrl,  T2.grade_id AS gradeId,
        T2.total_stage_clears AS totalStageClears
        FROM
        TB_USER T1
        INNER JOIN
        TB_CHARACTER T2
        ON T1.user_id = T2.user_id
        INNER JOIN
        TB_IMAGE T3   ON T2.image_id = T3.image_id
        WHERE
        T1.user_id = #{userId}

    </select>

</mapper>