<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.gmaking.map.dao.MapDAO">
    <resultMap id="MapResultMap" type="com.project.gmaking.map.vo.MapVO">
        <id column="MAP_ID" property="mapId"/>
        <result column="MAP_NAME" property="mapName"/>
        <result property="mapImageUrl" column="MAP_IMAGE_URL"/> <result property="createdDate" column="CREATED_DATE"/>
        <result column="CREATED_DATE" property="createdDate"/>
        <result column="CREATED_BY" property="createdBy"/>
        <result column="UPDATED_DATE" property="updatedDate"/>
        <result column="UPDATED_BY" property="updatedBy"/>
    </resultMap>

    <select id="selectAllMaps" resultMap="MapResultMap">
        SELECT *
        FROM TB_MAP
        ORDER BY MAP_ID ASC
    </select>

    <select id="selectMapById" resultType="com.project.gmaking.map.vo.MapVO">
        SELECT
        MAP_ID AS mapId,
        MAP_NAME AS mapName,
        MAP_IMAGE_URL AS mapImageUrl,
        CREATED_DATE AS createdDate,
        CREATED_BY AS createdBy,
        UPDATED_DATE AS updatedDate,
        UPDATED_BY AS updatedBy
        FROM TB_Map
        WHERE MAP_ID = #{mapId}
    </select>
</mapper>
