<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.gmaking.character.dao.CharacterStatDAO">

    <resultMap id="characterStatMap" type="com.project.gmaking.character.vo.CharacterStatVO">
        <id column="CHARACTER_ID" property="characterId"/>
        <result column="CHARACTER_HP" property="characterHp"/>
        <result column="CHARACTER_ATTACK" property="characterAttack"/>
        <result column="CHARACTER_DEFENSE" property="characterDefense"/>
        <result column="CHARACTER_SPEED" property="characterSpeed"/>
        <result column="CRITICAL_RATE" property="criticalRate"/>
    </resultMap>

    <select id="getCharacterStat" parameterType="int" resultMap="characterStatMap">
        SELECT * FROM TB_CHARACTER_STAT
        WHERE CHARACTER_ID = #{characterId}
    </select>

    <insert id="insertCharacterStat" parameterType="com.project.gmaking.character.vo.CharacterStatVO">
        INSERT INTO TB_CHARACTER_STAT (
        CHARACTER_ID,
        CHARACTER_HP,
        CHARACTER_ATTACK,
        CHARACTER_DEFENSE,
        CHARACTER_SPEED,
        CRITICAL_RATE,
        CREATED_BY,
        UPDATED_BY
        )
        VALUES (
        #{characterId},
        #{characterHp},
        #{characterAttack},
        #{characterDefense},
        #{characterSpeed},
        #{criticalRate},
        #{createdBy},
        #{updatedBy}
        )
    </insert>
</mapper>
